<header id="top-header">
    <span class="siteName"><a class="homelink" href='/' title='Return to home page'>CSE Motors</a></span>
    
    <div id="tools">
        <span class="accountLink"><a href="/client/login">My Account</a></span>
    </div>
</header>