<h2>Welcome to CSE Motors!</h2>

<section id="features">
    <div id="feature-list">
        <h1>DMC Delorean</h1>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <button id="purchase">Own Today</button>
    </div>
    <img id="delorean" src="/images/vehicles/delorean.jpg" alt="delorean image">
</section>

<section id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling like McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin' and I love it!" (5/5)</li>
    </ul>
</section>

<h2>Delorean Upgrades</h2>
<section id="upgrades">
    <div class="flux-capacitor">
        <div id="flux">
            <a href="#"><img class="capacitor" src="/images/upgrades/flux-cap.png" alt="flux capacitor">
        </div>
       <a href="#">Flux Capacitor</a>
    </div>

    <div class="flame-decals">
        <div id="flame">
            <a href="#"><img class="decals" src="/images/upgrades/flame.jpg" alt="flame decals"></a>
        </div>
        <a href="#">Flame Decals</a>
    </div>

    <div class="bumper-stickers">
        <div id="bumper">
            <a href="#"><img class="stickers" src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers"></a>
        </div>
        <a href="#">Bumper Stickers</a>
    </div>

    <div class="hub-caps">
        <div id="hub">
            <a href="#"><img class="caps" src="/images/upgrades/hub-cap.jpg"alt="Temple Inn & Suites logo"></a>
        </div>
        <a href="#">Hub Caps</a>
    </div>

</section>
