<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      
    } %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>
    


<form action="/inv/add-vehicle" method="post">
    <label for="classification_id">Classification Name</label>
    <%- classificationMenu %>

    <label for="inv_make">Make</label>
    <input type="text" name="inv_make" id="inv_make">

    <label for="inv_model">Model</label>
    <input type="text" name="inv_model" id="inv_model">

    <label for="inv_description">Description</label>
    <input type="text" name="inv_description" id="inv_description">

    <label for="inv_image">Image Path</label>
    <input type="text" name="inv_image" id="inv_image" value="/images/vehicles/no-image.png">

    <label for="inv_thumbnail">Thumbnail Path</label>
    <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="/images/vehicles/no-image.png">

    <label for="inv_price">Price</label>
    <input type="number" name="inv_price" id="inv_price">

    <label for="inv_year">Year</label>
    <input type="number" name="inv_year" id="inv_year">

    <label for="inv_miles">Miles</label>
    <input type="number" name="inv_miles" id="inv_miles">

    <label for="inv_color">Color</label>
    <input type="text" name="inv_color" id="inv_color">

    <input id="submit" type="submit" value="Add Vehicle">
</form>