<!-- content heading -->
    
    <!-- message block -->
<% if (message) { %>
<p class="notice"><%= message %></p>}
<% } %>

<% if (view) { %>
    <%- view %>
    <% } %>



        
    
    
    
    
    
    
    
    
    
    
    
    
    
    