
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      
    } %>


<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<a href="url"> Add New Classification </a>
<a href="url">Add New Vehicle </a>