
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      
    } %>


<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<a href="/inv/add-classification"> Add New Classification </a>
<br>
<a href="/inv/add-vehicle"> Add New Vehicle </a>

<h2>Manage Vehicles</h2>
<p>Select a Classification from the List</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>