<!-- content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- message block -->
<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<form action="/client/register" method="post">
    <!-- first name -->
    <label for="client_firstname">First Name</label>
    <input type="text" name="client_firstname" id="client_firstname">

    <!-- last name -->
    <label for="client_lastname">Last Name</label>
    <input type="text" name="client_lastname" id="client_lastname">

    <!-- email -->
    <label for="client_email">Email Address:</label>
    <input type="email" id="client_email" name="client_email">

    <!-- password, 12 chars, 1 capital, 1 number, 1 special character -->
    <label  for="client_password">Password</label>
    <p>Password must contain at least 12 characters, 1 capital letter, 1 number, and 1 special character.</p>
    <input type="password" id="client_password" name="client_password" minlength="12" required>

    <!-- pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{12,}$" -->
    
    <!-- register button -->
    <input id="submit" type="submit" value="Register">
</form>
    